Repository acook8/DevOps-Playground: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/ansible/azure-pipelines.yml, pipelines/tests/azure-pipelines.yml

pipelines/ansible/azure-pipelines.yml:
  stages:
  - stage: ansible_Dev
    pool: Default
    variables:
    - group: Ansible
    jobs:
    - job: install_ansible_requirements
      steps:
      - bash: ansible-galaxy install -r infrastructure/ansible/requirements.yml
    - job: test_ansible_syntax
      steps:
  ...

pipelines/tests/azure-pipelines.yml:
  stages:
  - stage: Integration Testing
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: UserAPI
      displayName: Integration Tests
      steps:
      - bash: python -m pip install --upgrade pip setuptools wheel
      - bash: pip install pytest Faker pytest-cov
  ...

fixed name bug in pipeline stage
  pipelines/users-api/azure-pipeline.yaml
Due: none

fixed but where pytest isn't on PATH
  pipelines/users-api/azure-pipeline.yaml
Due: none

Fixed bug where requests module wasn't installed
  pipelines/users-api/azure-pipeline.yaml
Due: none

upload test results
  pipelines/users-api/azure-pipeline.yaml
Due: none

should upload test results and code coverage
  pipelines/users-api/azure-pipeline.yaml
Due: none

created Selenium test
  testing/functionTests/usersSelenium_test.py
Due: pipelines/tests/azure-pipelines.yml

run selenium tests in userapi pipeline
  pipelines/users-api/azure-pipeline.yaml
  testing/functionalTests/usersSelenium_test.py
Due: pipelines/tests/azure-pipelines.yml

fixing bug where sbase cannot be called
  pipelines/users-api/azure-pipeline.yaml
Due: none

removing explicitly installing chromedriver
  pipelines/users-api/azure-pipeline.yaml
Due: none

fixed directory bug
  pipelines/users-api/azure-pipeline.yaml
Due: none

added firefox job to pipeline
  pipelines/users-api/azure-pipeline.yaml
Due: none

setup testing pipeline
  pipelines/tests/azure-pipelines.yml
  testing/functionalTests/usersSelenium_test.py
Due: pipelines/tests/azure-pipelines.yml

Getting started using terraform
  infrastructure/terraform/dev.tf
  infrastructure/terraform/provider.tf
  infrastructure/terraform/versions.tf
Due: pipelines/ansible/azure-pipelines.yml

variables used in terraform
  infrastructure/terraform/variables.tf
Due: pipelines/ansible/azure-pipelines.yml

added qemu guest agent to terraform
  infrastructure/terraform/dev.tf
Due: pipelines/ansible/azure-pipelines.yml

Path conditions:
  pipelines/ansible/azure-pipelines.yml: any of: infrastructure, pipelines/ansible
  pipelines/tests/azure-pipelines.yml: any of: testing, pipelines/tests, but not: README.md
